@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
    font-family: "Momo Trust Display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    color: white;
    font-family: "Momo Trust Display", sans-serif;
}

@layer utilities {
    .text-outline {
        -webkit-text-stroke: 2px #3B7C5F;
    }
    .text-outline-white {
        -webkit-text-stroke: 1px white;
    }
    .text-outline-bold {
        -webkit-text-stroke: 3px #3B7C5F;
    }
    .text-outline-bold-sm {
        -webkit-text-stroke: 1px #3B7C5F;
    }
    .text-outline-white-sm {
        -webkit-text-stroke: 1px white;
    }
    .text-outline-sm {
        -webkit-text-stroke: 1.5px #3B7C5F;
    }
}